<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>

{{#userlist}}

{{firstName}}  {{lastName}}<button type="button" onclick= <a href="/user?id={{id}}"></a>View Profile</button>
    <br>
{{#showPrevious}}
<button type="button" onclick= <a href="/?offset={{offsetPrevious}}">previous</a></button>
{{/showPrevious}}
&nbsp;
{{#showNext}}
<button type="button" onclick= <a href="/?offset={{offsetNext}}">next</a></button>
{{/showNext}}

{{/userlist}}

</body>
</html>